$mainColor: #0EECEC;
$secondary: #FF2BFF;

.card, .card-body {
    padding: 0;
    background-color: transparent;
    border: 0;
}

.adminCard {
    background: rgba(55, 55, 55, 0.2);
    border-radius: 8px;
    box-shadow: 0px 3px 5px $mainColor;
    border-radius: 10px;
    padding: 15px;
    transition: all .4s ease-in-out;


    &:hover {
        transform: translateY(-3px);
    }
}

.adminBorder {
    border-image: linear-gradient(0deg, $mainColor, $secondary, transparent) 1;
    border-top-color: transparent;
    border-width: 2px;
    border-style: solid;
    border-radius: 16px;
}

.adminLayout {

    .avatar {

        h2,
        span {
            position: absolute;
        }

        h2 {
            font-weight: 600;
            font-size: 20px;
            line-height: 25px;
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $mainColor;
            border-radius: 50%;
            left: 35px;
        }

        span {
            bottom: 0;
            right: 44px;
            cursor: pointer;
        }

        .phone {
            background: rgba(255, 255, 255, 0.6);
            border-radius: 50px;
            width: 120px;
            height: 120px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 30px auto 6px;
        }
    }

    .profileContent {
        margin-bottom: 15px;
        padding: 0 15px;

        h1 {
            font-size: 25px;
            text-align: center;
            line-height: 50px;
            cursor: pointer;
        }

        h3 {
            font-weight: 600;
            font-size: 20px;
            line-height: 25px;
            color: #7F8A94;
        }

        h6 {
            font-weight: 600;
            font-size: 20px;
            line-height: 25px;
            color: #7F8A94;
            margin-right: 15px;
        }

        .btnWrap {
            background: rgba(196, 196, 196, 0.2);
            border: 1px solid #FF2BFF;
            border-radius: 10px;
            padding: 10px 7px;
        }
    }
}

.adminMain {
    padding: 80px 0;

    .secondaryRow {
        padding-top: 140px;

        .adminCard {
            padding: 20px 20px 40px;
        }

        h5 {
            font-size: 30px;
            line-height: 38px;
            font-weight: 700;
            margin-left: 25px;
        }

        h6 {
            font-weight: 500;
            font-size: 25px;
            line-height: 31px;
            margin-left: auto;
            padding: 6px 30px 3px;
            background: rgba(153, 162, 213, 0.08);
            border-radius: 1000px;
        }

        .row {

            &:nth-child(2) {
                margin-top: 25px;
                padding: 10px;

                .adminCard {
                    padding: 0;
                    padding-top: 10px;
                }
            }
        }

        .tiketWrap {
            position: relative;

            span {
                &:nth-child(2) {
                    position: absolute;
                    right: 12px;
                    top: 7px;

                }
            }
        }
    }

    .secondaryCol {

        .adminCard {
            padding: 12px 10px 20px 15px;
            margin-bottom: 44px;
            width: -100%;

            &:last-child {
                margin-bottom: 0;
            }
        }

        h5 {
            margin-left: 0;
        }
    }

    .myCard {
        display: flex;
        align-items: center;

        h5 {
            font-size: 30px;
            line-height: 38px;
            font-weight: 700;
        }

        p {
            font-weight: 400;
            font-size: 20px;
            line-height: 25px;
            color: $mainColor;
            margin-top: 7px;
        }

        span {
            margin-left: 10px;
        }

        &.centerCard {
            padding: 20px 40px 20px;
        }
    }
}

.setProfile {
    padding: 50px 0;

    .card {
        background: rgba(255, 255, 255, 0.2);
        border: 3px solid #FF2BFF;

        .card-body {
            padding: 28px 53px;
        }
    }

    form {

        .btn {
            font-weight: bold;
            font-size: 30px;
            line-height: 38px;
            padding: 6px 33px;
            background: rgba(255, 43, 255, 0.85);
            border-color: rgba(255, 43, 255, 0.85);
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 50px auto 0;

            &:hover {
                background-color: $mainColor;
                border-color: $mainColor;
            }
        }

        label {
            font-weight: bold;
            font-size: 30px;
            line-height: 38px;
            margin-bottom: 5px;
            margin-top: 15px;
        }

        input {
            background: $mainColor;
            border-radius: 4px;
            border-color: $mainColor;
            color: #fff;
            height: 50px;
            font-weight: bold;
            font-size: 25px;

            &:focus {
                background-color: $mainColor;
            }
        }
    }
}

.career {
    padding: 70px 0;

    h1 {
        font-weight: 700;
        font-size: 40px;
        line-height: 50px;
        text-align: center;
        margin-bottom: 90px !important;

        span {
            color: $secondary;
        }
    }

    h2 {
        background: linear-gradient(90.38deg, #01FFFF -2.58%, #F50AFF 99.67%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        font-weight: 700;
        font-size: 30px;
        line-height: 38px;
    }

    h3 {
        font-weight: 700;
        font-size: 20px;
        line-height: 25px;
        color: $secondary;
    }

    h4 {
        font-weight: 600;
        font-size: 20px;
        line-height: 25px;
    }

    .card {

        .card-body {
            padding: 25px 17px;
        }
    }
}