
$mainColor: #0EECEC;
$secondary: #FF2BFF;

.adminCard {
    background: rgba(55, 55, 55, 0.2);
    border-radius: 8px;
    box-shadow: 0px 3px 5px $mainColor;
    border-radius: 10px;
    padding: 15px;
    transition: all .4s ease-in-out;
    

    &:hover {
        transform: translateY(-3px);
    }
}

.adminBorder {
    border-image: linear-gradient(0deg, $mainColor, $secondary, transparent) 1;
    border-top-color: transparent;
    border-width: 2px;
    border-style: solid;
    border-radius: 16px;
}

.adminMain {
    padding: 80px 0;

    .secondaryRow {
        padding-top: 140px;

        .adminCard {
            padding: 20px 20px 40px;
        }

        h5 {
            font-size: 30px;
            line-height: 38px;
            font-weight: 700;
            margin-left: 25px;
        }

        h6 {
            font-weight: 500;
            font-size: 25px;
            line-height: 31px;
            margin-left: auto;
            padding: 6px 30px 3px;
            background: rgba(153, 162, 213, 0.08);
            border-radius: 1000px;
        }

        .row {

            &:nth-child(2) {
                margin-top: 25px;
                padding: 10px;

                .adminCard {
                    padding: 0;
                    padding-top: 10px;
                }
            }
        }

        .tiketWrap {
            position: relative;

            span {
                &:nth-child(2) {
                    position: absolute;
                    right: 12px;
                    top: 7px;

                }
            }
        }
    }

    .secondaryCol {

        .adminCard {
            padding: 12px 10px 20px 15px;
            margin-bottom: 44px;
            width: -100%;

            &:last-child {
                margin-bottom: 0;
            }
        }

        h5 {
            margin-left: 0;
        }
    }

    .myCard {
        display: flex;
        align-items: center;

        h5 {
            font-size: 30px;
            line-height: 38px;
            font-weight: 700;
        }
    
        p {
            font-weight: 400;
            font-size: 20px;
            line-height: 25px;
            color: $mainColor;
            margin-top: 7px;
        }

        span {
            margin-left: 10px;
        }

        &.centerCard {
            padding: 20px 40px 20px;
        }
    }
}